name: Go

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - '*'
    paths-ignore:
      - '**/README.md'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: Lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: latest

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...
